body {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #f5f5f7;
  margin: 0;
  justify-content: center;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: rgba(245, 245, 247);
  z-index: 1;
  position: relative;
}
.navitem {
  display: flex;
  gap: 24px;
  align-items: center;
}
.navicon {
  display: flex;
  align-items: center;
  gap: 24px;
}
a {
  text-decoration: none;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.navitem p {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #1d1d1f;
}
.menu {
  display: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  padding: 0 !important;

  position: absolute;
  z-index: 1;
}
.header p {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.relative {
  position: relative;
  display: flex;
  width: 100%;
}
.gradient {
  width: 100%;
  height: 75px;
  background-color: white;
  display: flex;
  position: absolute;
}
.color {
  filter: blur(10px);
}
.blue {
  background: #019ffb;
  width: 30%;
  height: 75px;
  position: absolute;
  left: 0;
}
.pink {
  background: #e44cbb;
  width: 38%;
  height: 75px;
  border-radius: 469.5px;
  opacity: 0.5;
  position: absolute;
  left: 20%;
}
.pinky {
  background: #f55be4;
  width: 25%;
  height: 75px;
  position: absolute;
  left: 50%;
}
.orange {
  background: #fd8c1f;
  width: 30%;
  height: 75px;
  position: absolute;
  left: 70%;
}

.box {
  width: 100%;
  position: relative;
  height: 75px;
  padding: 0 !important;
}
.section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 100%;
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
}
.section1 {
  max-width: 100%;

  display: flex;
  justify-content: space-between;
}
.header1 {
  display: flex;
  gap: 32px;
}
.header1 h1 {
  font-family: Inter;
}
.colort {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.grey {
  color: #6e6e73;
  margin: 0;
}
.shoppinghelp {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.help {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.need1 {
  margin: 0;
  font-weight: 700;
}
.need2 {
  margin: 0;
  color: #06c !important;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.visit1 {
  margin: 0;
  font-weight: 700;
}
.visit2 {
  margin: 0;
  color: #06c !important;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.need p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
}
.visit P {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
}
.need {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.visit {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section2 {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;

  padding: 16px 8px;
  flex-direction: column;
}
.zurag {
  height: 78px;
  align-self: stretch;
}
.item p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-left: 140px;
}
.sec {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  display: flex;
}
.p {
  display: flex;
}

.image1 {
  background-image: url(./image1.jpg);
  min-width: 480px;
  height: 500px;
  background-size: cover;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.image2 {
  background-image: url(./image2.jpg);
  min-width: 480px;
  height: 500px;
  background-size: cover;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.image3 {
  background-image: url(./image3.jpg);
  min-width: 480px;
  height: 500px;
  background-size: cover;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.image4 {
  background-image: url(./image4.jpg);
  min-width: 480px;
  height: 500px;
  background-size: cover;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.listitem {
  display: flex;
  padding: 31px 30px;

  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
}
.list {
  display: flex;
  gap: 20px;
  overflow: scroll;
}
.list1 {
  min-width: 400px;
  min-height: 500px;
  background-size: cover;
  border-radius: 18px;

  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.list1 p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  display: flex;

  padding: 53px 30px;
  margin: 0;
}
.listt {
  max-width: 313px;
  max-height: 500px;
  min-width: 313px;

  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  align-items: center;
  padding: 71px 28px 32px 28px;
}
.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.desc1 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.shar {
  margin: 0;
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.har {
  margin: 0;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.colorr {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 100px;
}
.tseg {
  padding: 25px 86px 21px 79px;
  display: flex;
  gap: 7px;
}
.desc2 p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.list33 {
  display: flex;
  flex-direction: column;
  gap: 58px !important;
}
.gift {
  min-width: 480px;
  min-height: 500px;
  background-size: cover;
  border-radius: 18px;

  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.get {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  padding: 50px 30px;
  width: 305px;
  height: 130px;
  margin: 0;
}
.trade {
  color: #6e6e73;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding-left: 30px;
  padding-top: 31px;
}
.white {
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 313px;
  height: 240px;
}
.whitebox {
  display: flex;
  width: 313px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.white p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  width: 238px;
  padding-top: 82px;
  padding-left: 30px;
  margin: 0;
}
.jijig {
  margin: 0;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 259px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.giftt {
  min-width: 400px;
  min-height: 500px;
}
.footer h2 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.frame {
  display: flex;
  gap: 12px;
}
.order {
  display: flex;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid #1d1d1f;
  padding: 10px 12px;
  align-items: center;
}
.ic {
  width: 8px;
}
.order p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}
.footer {
  margin-bottom: 100px;
}
